# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
FinBud-Frontend/node_modules
FinBud-Frontend/.pnp
FinBud-Frontend.pnp.js
FinBud-Frontend.yarn/install-state.gz

# testing
FinBud-Frontend/coverage

# next.js
FinBud-Frontend/.next/
FinBud-Frontend/out/

# production
FinBud-Frontend/build

# misc
FinBud-Frontend/.DS_Store
FinBud-Frontend/*.pem

# debug
FinBud-Frontend/npm-debug.log*
FinBud-Frontend/yarn-debug.log*
FinBud-Frontend/yarn-error.log*

# local env files
FinBud-Frontend/.env.local

# typescript
FinBud-Frontend/*.tsbuildinfo
FinBud-Frontend/next-env.d.ts


FinBud-Backend/obj
FinBud-Backend/bin

FinBud-Backend/appsettings.*