.textBox {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 40px;
  background-color: #5298b8;
  border-radius: 50px;
  width: 75%;
  margin: 0 auto;
  text-align: left;
  padding: 30px 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.grey-button {
  background-color: #5298b8;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 30px 30px;
  cursor: pointer;
  border-radius: 30px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 768px) {
  .grey-button {
    margin: 10px 20px;
  }
}

.grey-button:hover {
  background-color: #86b7ce;
  transform: scale(1.05);
}
