@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.journey-button {
  background-color: #5298b8;
  border: none;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 50px auto 10px auto;
  cursor: pointer;
  border-radius: 30px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 768px) {
  .journey-button {
    margin: 30px auto 30px auto;
  }
}

.journey-button:hover {
  background-color: #86b7ce;
  transform: scale(1.05);
}
